GUIDs returned in wrong format not matching the RFC 4122 section 3 requirements

Hey everyone,

I experience an issue which is caused by tedious returning a not standard conform GUID.

### Expected behaviour:

Because of "RFC 4122 section 3", GUIDs have to contain only lower case letters for output.

So a GUID has to have the format
60595f88-b726-46f2-91ec-886da79e6203

### Actual behaviour:

Tedious outputs GUIDs as
60595F88-B726-46F2-91EC-886DA79E6203

This lead to comparison problems, because "60595f88-b726-46f2-91ec-886da79e6203" does not equals "60595F88-B726-46F2-91EC-886DA79E6203" in JS.

----------------------------------

I already posted this issue at node-mssql, but they said it's an issue for tedious itself, so I post it again here after closed at node-mssql.

What can be done to solve this issue?

Regards,
Michael

@Mika83AC the map in guid parser is in caps https://github.com/tediousjs/tedious/blob/master/src/guid-parser.js#L3, updating it to lower case would fix the issue, wanna send the PR? 

@Mika83AC I have looked into this issue and found out that Tedious actually indeed translate the GUID elements from the database side with capitalized letters like Hadis mentioned in the previous message. I had a fix and will rise a pr shortly. I also found even though I insert the GUID entry with lower case letters into the database, in this case, I used my SQL which transform the GUID that I passed into uppercase characters. That may be why there is a confusion about whether Tedious should return the uppercase or lower case for GUID.  

@MichaelSun90 The way to go here is to add an option that allows setting the case of GUIDs, defaulting ti to the current behaviour, deprecate the current behaviour, and then remove it and only support lower case GUIDs.

A new connection option called `lowerCaseGuids` (default: `false`) was added via https://github.com/tediousjs/tedious/pull/855 and released in `tedious@6.4.0`.

We deprecate setting this value to `false`, and switch over the default to `true` in upcoming releases.